/* Estilo para a seção de Adicionar Cliente */
#addClient {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    margin: 20px 0;
    background-color: #f9f9f9;
}

#addClient h2 {
    margin: 0 0 10px;
}

#toggleAddClientForm {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
}

#toggleAddClientForm:hover {
    background-color: #0056b3;
}

form {
    display: flex;
    flex-direction: column;
}

form input {
    margin: 5px 0;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

form button {
    background-color: #28a745;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}

form button:hover {
    background-color: #218838;
}

#backToMenu1{
    background-color: #007bff; /* Cor de fundo azul */
    color: white; /* Cor do texto */
    border: none; /* Sem borda */
    padding: 10px 15px; /* Espaçamento interno */
    border-radius: 5px; /* Bordas arredondadas */
    cursor: pointer; /* Cursor de ponteiro ao passar o mouse */
    transition: background-color 0.3s; /* Transição suave para a cor de fundo */
    margin-top: 10px; /* Espaçamento acima do botão */
}

#backToMenu1:hover{
    background-color: #0056b3;
}